.sidebar{
    height: 100%;
    width: 100%;
    max-width: 240px;
    background-color: #091336;
    color: #fff;
}

.sidebar_content{

}

.sidebar_content__logowrapper{

}

.sidebar_logo{

}


.sidebar_tab__img{
    width: 100
}